


body {
	background-image: url(../pics/df.jpg);
}

#wrapper {
	margin: auto;
	width: 1025px;
	padding: 10px;
	background-image: url(../pics/white6.jpg);
	background-size: 3000px;
	background-repeat: no-repeat;
	
	
}

#banner{
	background-image: url(../pics/puma.png);
	background-repeat: no-repeat;
	width: 1024px;
	height: 270px

	
}
#logo{
    background-image: url(../pics/logo.png);
	background-repeat:fixed;
	width: 218px;
	height: 199px;


}


#navigator {
	background-color: #DCDCDC;
	width: 1025px;
	height: 50px;
	position:center;
	
}

#navigator a{
	float: left;
	display: block;
	color: red;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	
}

#navigator a:hover {
	background-color: #ddd;
	color: black;
}

.Puma {
	display: inline-block;
	width: 230px;
	height: 250px;
	margin: 0;
	padding: 5;
	border: 0;
}

#Puma1 {
	background-image: url(../pics/puma1.png);
	background-repeat: no-repeat;
}

#Puma2 {
	background-image: url(../pics/puma2.png);
	background-repeat: no-repeat;
}

#Puma3 {
	background-image: url(../pics/puma3.png);
	background-repeat: no-repeat;
}

#Puma4{
	background-image: url(../pics/puma4.png);
	background-repeat: no-repeat;
}

.details {
	display: inline-block;
	width: 240px;
	height: 500px;
	margin: 0;
	padding: 3;
	border: 0;
}

#detail1 {
	background-color: #DCDCDC;
}

#detail2 {
	background-color: #DCDCDC;
}

#detail3 {
	
	background-color: #DCDCDC;
}

#detail4 {
	background-color: #DCDCDC;
}

p{
	float: left;
	margin-left: 10px;
	font-family: Lucida Fax;
	color: black;
}

h1{
	font-family:Bell MT ;
	font-size: 150%;
	text-align:center;
	color:#664229;
	
}

#footer {
	background-image: url(../pics/footer1.jpg);
	background-repeat: norepeat;
	width: 989px;
	height: 50px;
	padding: 20px;
	text-align: center;
}

.recommended{
  background-image: url(../pics/thumbs.png);
  position: fixed;
  width: 300px;
  height: 285px;
  bottom: 0;
  right: 0;
}













